/* font-family: 'Antonio', sans-serif;
font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Bebas+Neue&family=Fira+Sans&family=Mulish:wght@600&display=swap');

*{
   font-family: 'PT Sans', sans-serif; 
/*   justify-content: center; */
/*    margin:0; */
  color: #000;
 

}



html {
 line-height: 1.15; 
  /* 1 */
/*   -webkit-text-size-adjust: 100%; */
  /* 2 */
/*   scroll-snap-type: y mandatory; */
}

header{
   top: 0;
  width: 100%;
  max-height:220px;
  position: fixed;
} 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 overflow:hidden;
  position: fixed;
  top: 0;
  width: 100%;
} 
li {
  float: left;
}
li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Antonio', sans-serif;;
}

li a:hover {
/*   background-color: #111; */
  color: #fff;
} 

body{
 background: linear-gradient(333deg, #038DC5,#038DC5, #03C593, #FFBE88);
	background-size: 600% 600%;
	animation: gradient 60s ease infinite;
/* background-color:green; */
  margin:0;
}

h1{
 font-family: 'Bebas Neue', cursive;
  font-size:120px;
  margin 0;
  padding: 0;
}

h2{
  font-family: 'Antonio', sans-serif;
 font-size:60px;
  color:#000;
}

h3{
  font-family: 'Antonio', sans-serif ;
    font-size: 50px;
  margin:0;
  color:#fff;
}

h4{
     font-size: 22px;
    color: #000;
  font-family: 'Antonio', sans-serif;
}
h5{
       font-family: 'Bebas Neue', cursive;
  font-size:60px;
  margin 0;
  color:white;
}

h6{
    font-family: 'Bebas Neue', cursive;
  font-size:90px;
  margin 0;
  color:white;
}

p{
  font-size: 24px;
  font-family: 'Mulish', sans-serif;
}

img{
/*   max-width:400px;
  max-height: 400px; */
  width: 70%;
/*   max-width: 300px; */
}

hr{
  border: 10px;
}

/* .joe{
  border: solid white;
  padding: 30px;
  max-height: 400px;
  justify-conent: center;
  align-items:center;
 
} */
.container{
   max-height: 100vh;
  overflow:scroll;
  scroll-snap-type: y mandatory;
  
}

.contact{
  padding:50px;
}
.phonegrid{  
  display: grid;
height: auto;
grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
/*   grid-gap: 40px; */
height: auto;
 margin: 0 auto; 
/*   max-width: 1050px; */
  width: 100%;
  padding: 100px;
   justify-content: space-evenly;
  justify-items: center;
  
}
.item{
    display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  scroll-snap-align:start;

}

.scrolly{
/*   height:300px; */
/*   width:300px; */
 
  background-image: url("iphone.png");
  background-size: 600px;
  width: 550px;
  height: 900px;
  transform: translate(10px, 1%);

}

.scrolzz{
  background: rgba(255, 255, 255, 0.25);
 border-radius: 25px;
   overflow-x:hidden;
  overflow-y:auto;
  width: 330px;
  height: 769px;
  transform: translate(105px, 3%);
  padding: 30px;
}

.homebio{
   box-sizing: border-box;
/*   background-color:#1BD7BB; */
width: 100%;
  height: auto;
 margin: 0 auto; 
  width: 100%;
}


.devimg{
  max-width: 450px;
/*   box-shadow: 10px 15px; */
}

.devgrid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
height: auto;
 margin: 0 auto; 
  justify-content:center;
/*   place-items: center; */
width: 100%;
  max-width: 1050px;
 padding: 5px;
}
.grid1{
   display: grid;
height: auto;
grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  grid-gap: 40px;
height: auto;
 margin: 0 auto; 
  max-width: 1050px;
  width: 100%;
  padding: 10px;
   justify-content: space-evenly;
  justify-items: center;
/*   border-style: solid;
  border-color:#fff; */
 

}





.grid2{
   display: grid;
height: auto;
grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  grid-gap: 40px;
 margin: 0 auto; 
  max-width: 1050px;
  width: 100%;
  padding: 10px;
   justify-content: space-evenly;
  justify-items: center;

}

.def{

width: 100%;
  height: auto;
 margin: 0 auto; 
justify-content:center;

}


.grid3{
   display: grid;
height: auto;
grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
height: auto;
 margin: 0 auto; 
  max-width: 1050px;
  width: 100%;
  padding: 10px;
   justify-content: space-evenly;
  justify-items: center;

}
 

/* .tech{
   display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
   grid-gap: 20px;
height: auto;
  margin: 0 auto; 
  justify-content:center;
background-image: linear-gradient( #2F7DC2,#FFC190);
  background-color: light grey;
  width: 100%;
  padding: 40px;
   justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;

} */

.newshot{
 
/*    border-radius: 8px 8px 8px 8px ; */
  justify-content: center;
  margin-top:60px;
  padding: 15px;
/*   border-color:rgba(0, 0, 0, 0.75); */
/*   border-style: solid; */
/* background: rgba(255, 255, 255, 0.25); */
   background-image: url("iphone.png");
  background-size: 600px;
  width: 550px;
  height: 870px;
/*   transform: translate(10px, 1%); */

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}




.picborder
{
  max-width: 30px;
}

.card{
  
}

footer{
/*   background-color: #000; */
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
}
.contact_form{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
height: auto;
 margin: 0 auto; 
  justify-content:center;
/*   place-items: center; */
width: 100%;
  max-width: 1050px;
 padding: 5px;
}

@media screen and (max-width: 600px)
*{
  max-width: 550px;
}
{
  .devgrid{
   display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
     padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

  .grid1{
     display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
     padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
  .grid2{
     display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
     padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }

  .grid3{
     display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
     padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}
.first{
  max-height:100vh;
  overflow:scroll;
  scroll-snap-type: y mandatory;
}

.item{
  color:white;
  display: flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  scroll-snap-align:center;
}
}
  @media screen and (max-width: 905px)
{
  *{
  max-width: 700px;
}
  .devgrid{
   display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
     padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

/*   .devimg{
   width: 600px;
    height:auto;
     padding: 40px;
     } */

  .grid1{
     display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
     padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }

  .grid2{
     display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
     padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
  .grid3{
     display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    padding: 40px;
     justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  }
}