---
layout: layouts/base.njk
title: Counter | Joseph Huckabee
description: A simple counter app by Joseph Huckabee, front-end developer focused on UX/UI and data analytics.
ogTitle: Counter | Joseph Huckabee
canonical: https://builtbyjoseph.com/counter/
permalink: /counter/
---
<div id="counter_body">
  <h1>number of clicks</h1>
  <h2 id="count-el">0</h2>
  <button id="increment-btn" onclick="increment()">add</button>
  <button id="save-btn" onclick="save()">save</button>
  <p id="save-el">Previous entries:</p>
</div>
