---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/portfolio/</loc></url>
  <url><loc>{{ site.url }}/logos/</loc></url>
  <url><loc>{{ site.url }}/contact/</loc></url>
  <url><loc>{{ site.url }}/ux/</loc></url>
  <url><loc>{{ site.url }}/webdev/</loc></url>
  <url><loc>{{ site.url }}/work/</loc></url>
  <url><loc>{{ site.url }}/counter/</loc></url>
  <url><loc>{{ site.url }}/projects/anthropos/</loc></url>
  <url><loc>{{ site.url }}/projects/sirius/</loc></url>
  <url><loc>{{ site.url }}/projects/hair-color-portfolio/</loc></url>
</urlset>
